<h1 class="mb-4 mt-4">MY BLOG</h1>
<p class="lead mb-3">Welcome <%= user.name %></p>
<a href="/new" class="btn btn-success">New Post</a>
<a href="/users/logout" class="btn btn-secondary">Logout</a>

<!-- Foreach function to loop through all posts data -->
<% articles.forEach(article => { %>

<div class="card mt-4">
    <div class="card-body">
        <h4 class="card-title">
            <%= article.title %>
        </h4>

        <div class="card-subtitle text-muted mb-2">
            <!-- toLocaleDateString is to convert the date format depending on where you are -->
            <%= article.createdAt.toLocaleDateString() %>
        </div>

        <div class="card-subtitle text-muted mb-2">
            <!-- toLocaleDateString is to convert the date format depending on where you are -->
            By <%= article.author %>
        </div>

        <div class="card-text mb-2">
            <%= article.description %>
        </div>

        <a href="/<%= article.id %>" class="btn btn-primary">Read More...</a>
    </div>
</div>

<% }) %>
<!-- End for each -->